body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: #00aaaf;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
    margin: 10px;
    max-width: 600px;
  }

.grid-cell {
      background-color: #adffff;
      font-size: 5em;
      color: #7b7693;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
}

.grid-cell:hover {
      background-color: #e4fffe;
}

.error {
    color: red;
}

.player-info {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      justify-content: center;
      align-items: center;
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}  

.modal-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 25px;
      border: 1px solid #888;
      border-radius: 10px;
      max-width: 300px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      animation-name: animatetop;
      animation-duration: 0.4s

}

input {
            font-size: 16px;
            line-height: 28px;
            padding: 8px 16px;
            max-width: 250px;
            min-height: 32px;
            border: unset;
            border-radius: 4px;
            outline-color: rgb(84 105 212 / 0.5);
            background-color: rgb(255, 255, 255);
            box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                        rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                        rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                        rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                        rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                        rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                        rgba(0, 0, 0, 0) 0px 0px 0px 0px;
        }

/* CSS */
.button {
  background-color: #e6f4f1;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button:hover,
.button:focus {
  background-color: #b3d3ea;
  color: #8897af;
}

.button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

@keyframes animatetop {
      from {top: -300px; opacity: 0}
      to {top: 0; opacity: 1}
}